<div class="row">
  <div class="span8">
    <%= simple_form_for @member do |f| %>
      <%= f.input :name , placeholder: 'name'%>
      <%= f.input :email, placeholder: 'email'%>
      <%= f.submit 'Create' %>
    <% end %>
  </div>  

  <h2> Import New Members </h2>
  <%= form_tag import_members_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
  <hr>
</div>
